nav{
	display:flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
nav ul{
	display: flex;
	
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight: 700;
}
.logo{
	font-family: RoadTest;
	color:#000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color:#2d2a2a;
	
}
@media only screen and (max-width: 768px) {
    .nav {
        width: fit-content;
    }
    .nav ul{
        width: 100%;
    }
}
@media only screen and (max-width: 498px) {
    .nav {
		width: fit-content;
        overflow-x: scroll;
    }
    .nav button {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
}

