footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    
    }
    footer p{
    font-family: calibri;
    }
    footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    line-height: 10px;
    }
    footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
    }
    .social-icons img{
        width: 40px;
        height: 40px;
    }
    .social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
    }
    .social-icons{
    display: flex;
    }
    .copyright{
    color: #565555;
    font-size: 15px;
    position: relative;
    bottom: 10px;
    transform:translatX(-50%);
    }
    @media only screen and (max-width: 768px) {
        footer {
            height: 100%;
        }
    }
    @media only screen and (max-height: 667px) {
        footer {
            height: 50%;
            bottom: 0px;
        }
    }